<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BITsensor Web Application Security</title>
</head>
<body>
    <h1>We see you are probing this system... This application is under the protection of the BITsensor. We have fingerprinted your machine and collected exact data about all probes. Continuing attacking will lead to investigation and prosecution.</h1> <br>
    <h2>We do like hackers! Please read through our Responsible Disclosure policy at ... and only probe our dataless mirror server at ... ! See you there!</h2>
<!-- TODO Run this through the designer -->
</body>
</html>